build/*
dist/*
env/*
data/*
*.egg*
*.pyc
*node_modules
*dist
*build
*models
clothing_service_images
saved_perf
saved_datasets/clothing_classifier/dress
saved_datasets/clothing_classifier/jeans
saved_datasets/clothing_classifier/sunglasses
saved_embeddings
saved_models