build/*
dist/*
env/*
data/*
*.egg*
*.pyc
*node_modules
*dist
*build
*models
clothing_service_images
marabou/train_modules/data
marabou/train_modules/saved_embeddings
marabou/train_modules/perf
marabou/train_modules/train_models